.container {
  border: 1px solid var(--gray-70);
  border-radius: 4px;
  background-color: var(--gray-90);
  color: var(--gray-10);
  font-weight: bold;
  padding: 8px 12px;
  text-transform: uppercase;

  &:hover {
    background-color: var(--gray-50);
  }
}
