.container {
  display: flex;
  background-color: #5f5f5f;
  border: 1px solid #ececec;
  border-radius: 8px;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  height: 100%;

  .title {
    font-size: 24px;

  }

  .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 16px;
  }

  .addButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #404040;
    border: 1px solid #7f7f7f;
    border-radius: 12px;
    color: #ececec;
    padding: 8px 12px;
    font-weight: bolder;
    text-transform: uppercase;
    width: 120px;
  }

  .overlay {
    background-color: #404040;
    border: 1px solid #7f7f7f;
  }
}
